header{

    /* height: 100vh; */
    padding-top: 7rem;
    /* overflow: hidden; */
}
.header__container{

    text-align: center;
    height: 100%;
    position: relative;
}
.me{

    background: linear-gradient(var(--color-primary), transparent);
    
    left: calc(50% - 11rem);
    
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    margin-top: 4rem;
    position: absolute;
    width: 22rem;
    height: 30rem;
    padding: 5rem 1.5rem 1,5rem 1.5rem;
}
.me > img{

    margin-left: .5rem;
}
.ct{
    display : flex;
    gap : 1.2rem;
    justify-content: center;
    margin-top: 2.5rem;
}