*{
    text-decoration: none;
}

body {
    background-image: url(../src/assets/bgImage.png);
    font-family: Poppins, sans-serif;
}
h1, h2, h3, h4, h5{

    font-weight: 500;
}
h1{
    font-size: 2.5rem;
}
img {
    display:  black;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .me>img {
        margin-top: 2.5rem;
    }
}